body {background: #fff; color: #494949; font-size: 100.1%;}

#container {float: left; margin: 3em auto;}

h1, p {font-family: "Lucida Grande", Lucida, Verdana, sans-serif;}

h1 {font-size: 1.2em; letter-spacing: 2px;}
p {color: #494949; font-size: 0.8em; letter-spacing: 1px; line-height: 1.4em; margin: 0 0 1em; padding: 0;}

img.main_photo {float: left; margin: 0 20px;}

a:link, a:visited {color: #1c8488; text-decoration: underline;}
a:hover {color: #333;}

a.email_link {display: block; margin: 1em 0;}